---
import { Card, Content, Heading,  Media } from 'react-bulma-components'
import { Image } from 'astro:assets';
import './AboutCard.scss'
import meImage from '@assets/images/Me.jpeg'

const { aboutData } = Astro.props;
---
<Card className="AboutCard" style={{ width: 400, margin: 'auto' }}>
  <Card.Content>
    <Media>
      <Media.Item renderAs="figure" align="left">
        <!--
                  <img class='aboutImage' src={meImage.src} width={meImage.width} height={meImage.height} alt="Bio image" />
         -->
        <Image class='aboutImage' src={meImage.src} width={meImage.width} height={meImage.height} alt="Bio image" />
      </Media.Item>
      <Media.Item>
        <Heading size={4}>{aboutData.Name}</Heading>
        <Heading subtitle size={6}>
          {aboutData.Occupation}
        </Heading>
      </Media.Item>
    </Media>
    <Content
      className="card-content-center"
    >
    <div set:html={ aboutData.ShortBio }></div>
  </Content>
  </Card.Content>
</Card>