---
import '../styles/styles.scss';
// Component Imports
import LandingHero from '@components/LandingHero/LandingHero.astro';
import Resources from '@components/Resources/Resources.astro';
import Technologies from '@components/Technologies/Technologies.astro';
import { SectionContainer } from '@components/SectionContainer';
import Contact from '@components/Contact/Contact.astro';
const someProps = {
  count: 0
};

import * as aboutData from '../data/About.json';
import { default as interestsData } from '../data/Interests.json';
import { default as authorData } from '../data/Authors.json';
import { default as researchData } from '../data/Research.json';
import { default as technologiesData } from '../data/Technologies.json';
import { default as contactData } from '../data/Contact.json';
import PageLayout from 'src/layouts/PageLayout.astro';
import { LicenceViewer } from '@components/LicenceViewer';
import Research from '@components/Research/Research.astro';
import Interests from '@components/Interests/Interests.astro';
import Footer from '@components/Layout/Footer.astro';

const resourceData = await Astro.glob('../pages/resources/*.md');

---

<PageLayout>
  <LandingHero aboutData={aboutData} />
  <div class='segment-divider'></div>
  <SectionContainer color='#294d46' name='intro'>
    <Interests interestData={interestsData} />
    <Research research={researchData} authors={authorData} />
  </SectionContainer>
  <div class='segment-divider'></div>
  <SectionContainer color='#38485e' name='resources'>
    <Resources resourceData={resourceData} />
  </SectionContainer>
  <div class='segment-divider'></div>
  <SectionContainer color='#684756'>
    <Technologies technologiesData={technologiesData} />
  </SectionContainer>
  <div class='segment-divider'></div>
  <SectionContainer color="#96705b">
    <Contact contactData={contactData} />
  </SectionContainer>
  <div class='segment-divider'></div>
</PageLayout>